{% extends 'shop/basic.html' %}
{% block title %} Checkout{% endblock %}
{% block body %}
<div class="container">
    <div class="col">
        <h2> Step 1 - My Awesome Cart Express Checkout - Review Your Cart items </h2>
        <div id='items'>
            {% comment %} code populates from jquery {% endcomment %}
        </div>
        <h1 class='my-5'>Enter Shiping details</h1>
        <form method="post" action="/shop/finalpage">{% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
              
            <div class="mb-3"><h5>Name</h5></label>
              <input name = 'name' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3"><h5>Phone number</h5></label>
              <input name = 'phone' type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
              
            <div class="mb-3"><h5>Email address</h5></label>
              <input name = 'email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3"><h5>Address</h5></label>
                <input name = 'address' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3"><h5>City</h5></label>
                <input name = 'city' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3"><h5>State</h5></label>
                <input name = 'state' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3"><h5>Pincode</h5></label>
                <input name = 'pincode' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
{% endblock %}

{%block js%}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
if ($.isEmptyObject(cart)) {
    // If object is empty
    mystr = "<p>Your cart is empty, please add some items before checking out ! </p>"
    $('#items').append(mystr);
}

for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    console.log("name,qty: ",name,qty)
    sum = sum + qty;
    mystr = `        <li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
    $('#items').append(mystr);
}
document.getElementById('cart').innerHTML = sum;


$('#itemsJson').val(JSON.stringify(cart));


</script>
{%endblock%}